@use "/src/variables";

.auth-card {
  width: 300px;
  position: relative;
}

.auth-card__back {
  z-index: -1;
  width: 270px;
  height: 40px;
  position: absolute;
  top: calc(100% - 28px);
  left: 15px;
  border-radius: 20px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
}

.auth-switch {
  width: 100px;
  height: 80px;
  position: absolute;
  top: -20px;
  right: -15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background-color: variables.c(primary, main);
}

.auth-card__title {
  margin: 15px 0 50px 18px;
}

.auth-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20px 20px 20px;
}

.auth-form__button {
  margin: 15px 0 0 0;
}
